<!DOCTYPE html>
<html>
<head>
    <title>SQLite Dosya Seç</title>
</head>
<body>
    <h1>SQLite Dosya Seç</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Dosya Yükle">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
